In [1]:
import pexplorer as px
import numpy as np
import pandas as pd

In [10]:
df = pd.read_csv(r"H:\BOOK\CSV\NYPD_Shooting_Incident_Data__Historic_.csv")

In [11]:
px.correlation(df)

In [12]:
px.check_df(df)

In [13]:
df = px.col_rename(df)

In [14]:
df.columns

Index(['incident_key', 'occur_date', 'occur_time', 'boro', 'precinct',
       'jurisdiction_code', 'location_desc', 'statistical_murder_flag',
       'perp_age_group', 'perp_sex', 'perp_race', 'vic_age_group', 'vic_sex',
       'vic_race', 'x_coord_cd', 'y_coord_cd', 'latitude', 'longitude',
       'lon_lat'],
      dtype='object')

In [15]:
px.check_cat(df)

Las columnas recomendadas:
--------------------------
boro(5)
jurisdiction_code(4)
location_desc(40)
perp_age_group(10)
perp_sex(4)
perp_race(8)
vic_age_group(6)
vic_sex(3)
vic_race(7)

In [20]:
df = px.make_cat(df)

Una columna ya es CATEGORICAL

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21626 entries, 0 to 21625
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   incident_key             21626 non-null  int64
 1   occur_date               21626 non-null  object
 2   occur_time               21626 non-null  object
 3   boro                     21626 non-null  object
 4   precinct                 21626 non-null  int64
 5   jurisdiction_code        21624 non-null  float64
 6   location_desc            9265 non-null   object
 7   statistical_murder_flag  21626 non-null  bool
 8   perp_age_group           14321 non-null  object
 9   perp_sex                 14355 non-null  object
 10  perp_race                14355 non-null  object
 11  vic_age_group            21626 non-null  object
 12  vic_sex                  21626 non-null  object
 13  vic_race                 21626 non-null  object
 14  x_coord_cd               21626 non-null  object
 15  y_coord_cd               21626 non-null  object
 16  latitude                 21626 non-null  float64
 17  longitude                21626 non-null  float64
 18  lon_lat                  21626 non-null  object
dtypes: bool(1), float64(3), int64(2), object(13)
memory usage: 3.0+ MB